.bigchart {
  margin-left: 20px;
  margin-top: 20px;
  padding: 20px;
  width: 90%;
  height: 100%;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.bigchartTitle {
  margin-bottom: 20px;
  display: inline-block;
}


.bigchartSelect{
  display: inline-flex;
  margin-left: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.bigchartSelect > select{
  margin-left: 20px;
  margin-right: 20px;

  border: none;
  padding: 10px;
  background-color: azure;
}

.errordata{
  margin-left: 10px;
  color: red;
  font-size: 1rem;
}
.topBigChart{
  display: inline-flex;
  flex-direction: column;
}