.featured {
  width: 100%;
  display: flex;
  
  flex-direction: column;
}

.featuredItem {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.widgetsm{
  height: 500px;
  width: 500px;
}

.featuredpiechart{
  display: flex;
  justify-content: space-around;
  
}

/* .featuredItem {
  height: 100vh;
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
} */

